<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Shop Phụ Kiện Điện Thoại</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

    <!-- Add your custom styles or scripts here -->
    <link type="text/css" rel="stylesheet" href="~/css/style-admin.css" />
</head>
<body class="overlay-scrollbar">
    <!-- navbar -->
    <div class="navbar">
        <!-- nav left -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fa-solid fa-bars" onclick="collapseSidebar()"></i>
                </a>
            </li>
            <li class="nav-item">
                <img src="./img/logo.png" alt="logo" class="logo logo-light">
            </li>
        </ul>
        <!-- end nav left -->
        <!-- nav right -->
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <div class="avt dropdown">
                    <a><i class="fa fa-user-o"></i>Model.UserName</a>
                    <ul id="user-menu" class="dropdown-menu">
                        <li class="dropdown-menu-item">
                            <a asp-page="/Logout" class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-sign-out-alt"></i>
                                </div>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="avt dropdown">
                    <img src="./img/admin1.jpg" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
                </div>
            </li>
        </ul>
        <!-- end nav right -->
    </div>
    <!-- end navbar 
        <!-- sidebar -->
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="#" class="sidebar-nav-link" style="margin-top: 20px;">
                    <div>
                        <i class="fa-solid fa-signal"></i>
                    </div>
                    <span>Thông số bán hàng</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-page="/Admin" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-user"></i>
                    </div>
                    <span>Quản lý nhân viên</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-page="/QuanLySanPham" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-mobile"></i>
                    </div>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-page="/QuanLyHoaDon" class="sidebar-nav-link">
                    <div>
                        <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <span>Quản lý hóa đơn</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a asp-page="/QuanLyTaiKhoan" class="sidebar-nav-link">
                    <div>
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>
        </ul>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="js/admin.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- end sidebar -->
    <!-- Main content area -->
    <div class="main-content">
        @RenderBody() 
    </div>
</body>
</html>
