@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h2>Quên mật khẩu</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="email">Nhập email của bạn:</label>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p class="mb-0">@error.ErrorMessage</p>
                }
            </div>
        }
        <input type="email" class="form-control" id="email" name="email" required />
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã xác thực</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}