@model IEnumerable<PhuKienShop.Data.Category>
@{
    // Bắt đầu từ tab-2 cho các tab sau của ListProduct
    int tabListProduct = 2;
    <div class="section-nav">
        <ul class="section-tab-nav tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Tất cả</a></li>
            @foreach (var item in Model)
            {
                <li><a data-toggle="tab" href="#tab-@tabListProduct">@item.CategoryName</a></li>
                tabListProduct++; // Tăng biến đếm
            }
        </ul>
    </div>
}
