@{
    ViewData["Title"] = "Giới thiệu trang web";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li class="active">Giới thiệu</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <header>
                <h1>Giới thiệu về chúng tôi</h1>
            </header>
            <div class="block">
                <div class="block-top">
                    <div class="main-text">
                        <div class="main-text-ct">
                            <div>
                                <p>
                                    Được thành lập từ năm 2004,
                                    Có thị phần số 1 Việt Nam với hơn 3.200 điểm bán thiết bị di động.
                                    Hiện diện tại 63 tỉnh thành trên khắp Việt Nam.
                                    <br>
                                    Phone-Accessories là nền tảng bán lẻ đa ngành nghề số 1 Việt Nam về doanh thu và lợi nhuận.
                                    Với chiến lược omni-channel, Công ty vận hành mạng lưới hàng ngàn cửa hàng trên toàn quốc song song với việc tận dụng hiểu biết sâu rộng về khách hàng
                                    thông qua nền tảng dữ liệu lớn, năng lực chủ động triển khai các hoạt động hỗ trợ bán lẻ được xây dựng nội bộ và liên tục đổi mới công nghệ
                                    nhằm tạo ra trải nghiệm khách hàng vượt trội và thống nhất ở mọi kênh
                                    cũng như nâng cao sự gắn kết của người tiêu dùng với thương hiệu của mình.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-number">
                    <div>
                        <div class="icon">
                            <i class="fa-solid fa-store"></i>
                        </div>
                        <div class="li-txt">
                            <p class="txt01">3.300+</p>
                            <p class="txt02">CỬA HÀNG TRÊN<br>TOÀN QUỐC</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon">
                            <i class="fa-solid fa-people-group"></i>
                        </div>
                        <div class="li-txt">
                            <p class="txt01">520.000</p>
                            <p class="txt02">KHÁCH ĐƯỢC<br>PHỤC VỤ MỖI NGÀY</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon">
                            <i class="fa-solid fa-door-open"></i>
                        </div>
                        <div class="li-txt">
                            <p class="txt01">24/7</p>
                            <p class="txt02">KỂ CẢ CHỦ NHẬT &<br>NGÀY LỄ</p>
                        </div>
                    </div>
                </div>
                <div class="block__website">
                    <a href="" class="block__website__item" target="_blank">
                        <i class="icon-website"></i>
                        Website: <span>www.Phone-Accessories.com</span>
                    </a>
                </div>
            </div>
            <h4>
                Phone-Accessories là website bán sản phẩm online.
                Chúng tôi chuyên cung cấp các sản phẩm phụ kiện điện thoại với giá cả phù hợp và chất lượng tuyệt vời cho mọi người.
            </h4>
            <h4>
                Chúng tôi đã hoạt động trên thị trường về lĩnh vực phụ kiện điện thoại,
                đồ gia dụng giá rẻ nhiều năm, hiểu rõ những sản phẩm và giá trị chúng tôi đem lại cho khách hàng,
                những sản phẩm của chúng tôi chào bán đều đảm bảo được các yếu tố:
            </h4>
            <ul>
                <li>Mẫu mã luôn mới</li>
                <li>Chất lượng đảm bảo so với tiền khách hàng bỏ ra</li>
                <li>Giá thành rẻ</li>
            </ul>
            <h4>
                Qua nhiều năm chúng tôi đúc kết được rất nhiều kinh nghiệm quý báu và luôn bám sát vào thị hiếu của người tiêu dùng.
                Đến với chúng tôi khách hàng sẽ cảm nhận được:
            </h4>
            <ul>
                <li>Sự chuyên nghiệp</li>
                <li>Nhiệt tình, ân cần</li>
                <li>Sản phẩm mẫu mã đa dạng</li>
                <li>Giao hàng thần tốc</li>
                <li>Chế độ bảo hành tuyệt vời</li>
            </ul>
            <h3 class="last-text">
                Cảm ơn quý khách hàng đã và đang tin dùng sản phẩm của Phone-Accessories suốt thời gian qua,
                chúng tôi không ngừng cố gắng để đem đến những sản phẩm hot nhất với chất lượng tốt và
                giá thành cạnh tranh nhất!
            </h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->