@model PhuKienShop.Models.OrderViewModel

<tr class="modal-row" style="display:none;">
    <td>@Model.Order.OrderId</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>


<script>

    showErrorToast2('@Model.Details');
    
    
</script>