@model IEnumerable<PhuKienShop.Models.OrderViewModel>
<!-- model IEnumerable<PhuKienShop.Data.Order> -->

@{
    ViewData["Title"] = "Quản lý đơn hàng";
    <!-- Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; -->
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

            <style>
                tr:nth-child(even) {
                    background-color: aliceblue;
                }

                tr:nth-child(odd) {
                    background-color: #ffffff;
                }

                .modal-dialog {
                    width: 80%;
                    max-width: 100%;
                }

                .search-form {
                    display: flex;
                    align-items: center;
                    border: 1px solid #fd1111;
                    border-radius: 50px;
                    overflow: hidden;
                    width: 180px;
                    justify-content: space-between;
                }

                   
                .search-form input {
                        border: none ;
                        outline: white;
                        margin-left: 10px;
                }


                .search-form input:focus {
                    border: none !important;
                   outline: none !important;
                }

                .search-form i {
                    padding: 10px;
                }

                .search-form i:hover {
                    cursor: pointer;
                }
                </style>

}
   

<!-- main content -->



<div class="wrapper" style="padding-top:0px;background-color: white;">
        <script src="~/js/toast.js"></script>
       
    <div class="row">
        <div class="col-8 col-m-12 col-sm-12" style="padding: 40px 20px;">
            <div class="card">
            
                <div class="card-content" style="display: flex; justify-content:space-between;align-items: center;">
                    <a href="#" class="btn btn-white-green" onclick="callUpdateBox(event,'CONFIRM')" style="margin-left: auto">
                        <span>Xác nhận</span>
                    </a>
                    <a href="#" class="btn btn-yellow" onclick="callUpdateBox(event,'PACKAGE')" style="margin-left: auto">
                        <span>Đóng gói</span>
                    </a>
                    <a href="#" class="btn btn-blue" onclick="callUpdateBox(event,'DELIVERY')" style="margin-left: auto">
                        <span>Vận chuyển</span>
                    </a>
                    <a href="#" class="btn btn-green" onclick="callUpdateBox(event,'COMPLETE')" style="margin-left: auto">
                        <span>Thành công</span>
                    </a>
                    <a href="#" class="btn btn-white-orange" onclick="callUpdateBox(event,'CANCEL')" style="margin-left: auto">
                        <span>Hủy</span>
                    </a>
                </div>
                <div class="card-content">
                    <div class="card-header" style="display: flex;justify-content:center">
                        <h4>
                            Tất cả đơn hàng
                        </h4>
                    </div>
                    <div style="display:flex; justify-content: right;">
                        <div class="form-group">
                            <div class="search-form">
                                <input type="text" name="orderID" class="form-control orderID" placeholder="Mã đơn hàng"><i class="fa-solid fa-magnifying-glass searchBtn" onclick="searchOrder(this)"></i>
                                <input type="text" name="action" class="form-control" value="SEARCH" hidden>

                            </div>
                        </div>
                            
                    </div>
                    <table class="order-content">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ngày đặt hàng</th>
                                <th>Danh sách sản phẩm</th>
                                <th>Tổng tiền (VND)</th>
                                <th>Trạng thái đơn hàng</th>
                                <th>Thời gian cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- main content -->
                            @foreach (var orderViewModel in Model)
                            {
                                @Html.Partial("_OrderRow", orderViewModel)
                            }
                           
                            <!--<%}%> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- chua modal -->
    <div id="update-container">
        
    </div>
    <!-- <p>
        <a asp-action="Create">Create New</a>
    </p>
    -->
    
    @section Scripts {
        

    <script>

            function getOrderDetails(idin) {
                var action = `Chi tiết đơn hàng ${idin}`;
            var modalID = "DETAIL";
           
            var html = `
                    <div id="${modalID}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="oderadmin" method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title">${action}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                            </form>

                            <div class="card-content">
                                <table class="tableModal">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>ID người dùng</th>
                                            <th>Danh sách đơn hàng</th>
                                            <th>Tổng tiền (VND)</th>
                                            <th>Trạng thái đơn hàng</th>
                                            <th>Thời gian cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
        `;
             
            document.querySelector('#update-container').innerHTML = html;
                $.ajax({
                    url: '@Url.Action("orderDetail", "Orders")',
                    type: 'POST',
                    data: { idin: idin },
                    success: function (response) {
                      
                        $('.tableModal tbody').html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi: ' + error);
                    }
                });
            $(`#${modalID}`).modal('show');
        }

        function callUpdateBox(e, action) {
            e.preventDefault();
            console.log(e.target);

            let title;
            if (e.target.tagName === 'SPAN') {
                title = e.target.innerText;
            } else {
                title = e.target.querySelector('span').innerText;
            }
            var html = `
                    <div id="${action}ORDER" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="oderadmin" method="post">
                                    <div class="modal-header">
                                        <h4 class="modal-title">${title} đơn hàng</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Mã đơn hàng</label>
                                            <input type="text" name="orderID" class="form-control" required>
                                                        <input type="text" name="action" class="form-control" value="${action}" hidden>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-info" onclick="callUpdateOrder(this)" value="Xác nhận">
                                    </div>
                                </form>

                                <div class="card-content">
                                    <div class="toastt-container" style="height: 30px; margin-top: 5px; margin-bottom: 5px">
                                        <div id="toast-2" style="margin: auto 0;">
                                        </div>
                                   
                                    </div>
                                    <table class="tableModal">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Ngày đặt hàng</th>
                                                <th>Chi tiết đơn hàng</th>
                                                <th>Tổng tiền (VND)</th>
                                                <th>Trạng thái đơn hàng</th>
                                                <th>Thời gian cập nhật</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
            `;
            console.log(html);
            console.log(document.querySelector('#update-container'));
            document.querySelector('#update-container').innerHTML = html;
            $(`#${action}ORDER`).modal('show');
        }
 

        function callUpdateOrder(button) {
            
            console.log("goi update tu button");
            var form = button.closest('form');
            console.log("form: ");
            console.log(form);
                var formdata = new FormData(form);
            var id = formdata.get("orderID");
            var action = formdata.get("action");
            updateOrder(id, action,form);
        }

            function searchOrder(element) {
                var idin = $(element).siblings('.orderID').val();
                $.ajax({
                    url: '@Url.Action("searchOrder", "Orders")',
                    type: 'POST',
                    data: { idin: idin },
                    success: function (response) {
                        $('.order-content tbody').html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi: ' + error);
                    }
                });
        }
            
            

            function updateOrder(id, action,element) {
                console.log(id);
                console.log(action);
                $.ajax({
                    url: '@Url.Action("updateOrder", "Orders")',
                    type: 'POST',
                    data: { action: action, id: id},
                    success: function (response) {
                        var table = $(element).closest('.modal-content').find('.tableModal tbody');
                        var curHtml = table.html();
                        var newHtml = response + curHtml;
                        $('.tableModal tbody').html(newHtml);
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi: ' + error);
                    }
                });
            }
         
        $(document).ready(function () {

          
        });

        function renderToast2Failed(message) { 
            var curToast2 = document.querySelector('#toast-2');
            if (curToast2) curToast2.remove();
            var trElement = document.querySelector('.modal-row');
            var cardContent = trElement.closest('.card-content');
            var toastContainer = cardContent.querySelector('.toastt-container');
            console.log(toastContainer);
            var newtoast2 = document.createElement('div');
            newtoast2.id = 'toast-2';
            newtoast2.style.margin = 'auto 0';

            if (toastContainer) {
                toastContainer.appendChild(newtoast2);
            }

            if (trElement) {
                trElement.remove();
            }
                showErrorToast2(message);
        }

        function renderToast2Success() {
            var curToast2 = document.querySelector('#toast-2');
            if (curToast2) curToast2.remove();

            var trElement = document.querySelector('.modal-row');
            var cardContent = trElement.closest('.card-content');
            var toastContainer = cardContent.querySelector('.toastt-container');

            var newtoast2 = document.createElement('div');
            newtoast2.id = 'toast-2';
            newtoast2.style.margin = 'auto 0';
            if (toastContainer) {
                toastContainer.appendChild(newtoast2);
            }

            if (trElement) {
                trElement.classList.remove('modal-row');
            }
        }
            
    </script>
   }

</div>
<!-- end main content -->



